@page "/MyTests/DiagramPage"

<h3> Diagram Tests (VERY Experimental)</h3>

<IcuTestViewer Width="800">
    <DiagramTests />
</IcuTestViewer>
<br/>

<div  style="width:50em;">
<p> 
    Surprisingly many developers use ASCII art to create useful representations of complex data structures. 
    IcuBlazor takes this idea to the next level with high-resolution diagrams.
    <br/><br/>
</p>

</div>
