@page "/MyTests/DiagramPage"

<h3> Diagram Tests (VERY Experimental)</h3>

<IcuTestViewer Width="800">
    <DiagramTests />
</IcuTestViewer>
<br/>

<div  style="width:50em;">
<p> 
    Surpisingly many developers use ASCII art to create useful representions of complex data-structures.
    IcuBlazor takes this idea to the next level with high-quality diagrams.
    <br/><br/>
</p>

</div>
