@page "/MyTests/HelloWorldPage"

<h3>Traditional Unit Tests</h3>

<IcuTestViewer Width="800">
    <HelloWorldTests />
</IcuTestViewer>

<br/>
<br/>
<h4>Some things to try:</h4>
<ul style="width:40em;">
    <li>Click on the toolbar menu and change view to "Outcome View"</li>
    <li>Click <code>[+]</code> on the exception message.</li>
    <li>If you have compiled this example on your local machine 
    then you can click on the <a href="">blue links</a> above 
    to jump to the source file in Visual Studio
    </li>    
@*    <li>Click on the toolbar menu and slect "Close Methods"</li>*@
    <li>Enter "hello_world" in the filter box. Then clear the filter entry.</li>
    <li>Run this sample in <code<b>Hot Reload</b></code> mode 
        and try changing the test methods.</li>
</ul>
