@page "/MyTests/LogPage"

<h3>Text Diff Testing</h3>
<p style="width:40em">
Diff testing shows the differences between two strings and let's you determine which is correct.
These tests are easy to use and maintain (often easier than traditional unit tests).
Diff tests allow us to go beyond mere testing 
and venture into areas of monitoring, devops, and more...
</p>

<IcuTestViewer Width="1000">
    <LogTests />
</IcuTestViewer>

<br/><br/><br/>
