@page "/MyTests/PropertyTestPage"

<h3> Property-based Tests (Experimental)</h3>

<IcuTestViewer Width="1000">
    <PropertyTests />
</IcuTestViewer>

<br/><br/><br/>

<div  style="width:50em;">
<p> 
    <b>Note:</b> For demo purposes, these tests will throw exceptions.<br/><br/> 
    Property-based testing is a very powerful technique.
    It automatically generates a large number of inputs for your code-under-test.
    And when an input fails, it tries to reduce it to a simpler failing input.<br/><br/>
    IcuBlazor provides an interactive UI over the fantastic FsCheck library.       
</p>

</div>
